
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
.Rproj.user
.Rprofile

# Datasets
00_rawdata/
02_outdata/

# Figures
03_figs

# Manuscript
04_manuscript/Manuscript.docx
04_manuscript/Manuscript_00.docx
04_manuscript/Manuscript_01.docx
04_manuscript/Manuscript_01.pdf

# Preregistration
05_preregistration/OSF_preregistration.pdf
05_preregistration/OSF-preregistration-template.pdf